body {
background: linear-gradient(135deg,#71b7e6,#9b59b6);
text-align: center;
box-sizing: border-box;


}
.header{
    margin: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    font-size: xx-large;
}
.name-input{
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;


}
.detail {
    font-size: x-large;
    padding: 10px;
}

.radio-language{
    font-size: xx-large;
}
.btn{
    padding: 10px;
    margin: 10px;
    font-size: medium;
}
.pop-up{
    font-size: x-large;
}